<mat-card class="card mat-elevation-z8">
    <mat-card-header>      
      <mat-card-title>SIGEVVA</mat-card-title>
      <mat-card-subtitle>3M Tecnologia da Informação</mat-card-subtitle>
    </mat-card-header>

    <button routerLink="/vendas/create" class="mat-elevation-z8" mat-stroked-button color="primary">REALIZAR VENDA</button>

    <button routerLink="/agendamentos/create" class="mat-elevation-z8" mat-stroked-button color="primary">REALIZAR AGENDAMENTO DE ENTREGA</button>
    
    <button routerLink="/produtos/create" class="mat-elevation-z8" mat-stroked-button color="primary">CADASTRAR PRODUTO</button>

    <button routerLink="/itensprodutos/create" class="mat-elevation-z8" mat-stroked-button color="primary">INSERIR ITEM</button>

    <button routerLink="/clientes/create" class="mat-elevation-z8" mat-stroked-button color="primary">CADASTRAR CLIENTE</button>
   
    <button routerLink="/fornecedores/create" class="mat-elevation-z8" mat-stroked-button color="primary">CADASTRAR FORNECEDOR</button>
    
    <button routerLink="/relatorios" class="mat-elevation-z8" mat-stroked-button color="primary">GERAR RELATÓRIO DE VENDAS</button>

</mat-card>
