<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/img/menu.png" alt="Imagem de Navegação">
        <mat-nav-list class="nav-list">

            <a mat-list-item routerLink="home">
                <i class="material-icons">home</i>   
                Início             
            </a>
            
            <a mat-list-item routerLink="clientes">
                <i class="material-icons">person</i>
                Clientes
            </a>

            <a mat-list-item routerLink="produtos">
                <i class="material-icons">local_drink</i>
                Produtos
            </a>

            <a mat-list-item routerLink="fornecedores">
                <i class="material-icons">account_circle</i>
                Fornecedores
            </a>
            
            <a mat-list-item routerLink="/">
                <i class="material-icons">attach_money</i>
                Vendas
            </a>

            <a mat-list-item routerLink="/">
                <i class="material-icons">schedule</i>
                Agendamentos
            </a>

            <a mat-list-item routerLink="/">
                <i class="material-icons">storage</i>
                Relatórios
            </a>

            <a mat-list-item >
                <i class="material-icons">logout</i>
                Sair
            </a>

        </mat-nav-list>
    </mat-drawer>  

    <div class="sidenav-content">   
      <app-header></app-header>
      <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>